*{
    padding:0;
    margin: 0;
}
body{
    background-color: #80808029;
    font-family: Raleway, sans-serif;
}
header{
    width: 100%;
    height: 55px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.topo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.topo-logo{
    height: 32px;
    width: 32px;
}
.topo-titulo{
    font-size: 24px;
    color: #5d15d1;
    margin-left: 10px;
}
.limite-largura{
    max-width: 1024px;
}
.orcamento-fundo{
    width: 100%;
    height: auto;
    background-image: url('/img/bahia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.orcamento-area{
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
.orcamento-cabecalho{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d15d1;
}
.orcamento-logo{
    width: 20px;
    height: 20px;
    transform:rotate(-45deg)
}
.orcamento-descricao{
    font-size: 14px;
    color: #fff;
    margin-left: 5px;
}
.orcamento-area-formulario{
    width: 100%;
    background: #fff;
    padding: 30px 25px 20px;
    box-sizing: border-box;
}
.orcamento-subtitulo-formulario{
    font-size: 22px;
    margin-bottom: 24px;
}
.formulario{
    display: flex;
    flex-direction: column;
}
.formulario label{
    font-size: 16px;
}
.formulario input, .formulario select{
    width: 100%;
    height: 32px;
    margin: 10px 0;
}
.formulario input{
    padding: 0 5px;
    box-sizing: border-box;
}
.formulario select{
    padding:0 3px;
}
.formulario-campo-duplo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.formulario-campo-duplo div{
    width: calc(50% - 10px);
}
.radio{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.radio div{
    display: flex;
    align-items: center;
    width: 120px; !important;
}
.radio input{
    width: 15px;
}
.radio label{
    margin-left: 8px;
}
.formulario button{
    width: 160px;
    height: 32px;
    border: none;
    background: #5d15d1;
    font-size: 16px;
    color: #fff;
    margin-top: 12px;
    cursor: pointer;
}

.ofertas-area, .natureza-area{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 32px auto 0 auto;
}
.ofertas-titulo, .natureza-titulo{
    font-size: 20px;
    margin-bottom: 10px;
}
.ofertas-descricao, .natureza-descricao{
    font-size: 16px;
    margin-bottom: 15px;
}
.ofertas-descricao span {
    font-weight: bold;
}
.ofertas-imagens{
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-between;
}
.oferta-imagem-destaque{
    position: relative;
    width: calc(50% - 10px);
    height: 100%;
}
.oferta-quatro-imagens{
    width: calc(50% - 10px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.oferta-quatro-imagens figure{
    position: relative;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    margin: 0 6px;
}
.oferta-imagem-destaque img, .oferta-quatro-imagens img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.oferta-imagem-destaque figcaption, .oferta-quatro-imagens figcaption{
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    background-color: rgb(0 0 0 / 50%);
    font-size: 17px;
    color: #fff;

    padding: 5px 10px;
    box-sizing: border-box;
}
.natureza-duas-imagens{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.natureza-imagem{
    width: calc(50% - 10px);
    height: 100%;
}
.natureza-imagem img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.natureza-imagem div{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}
.natureza-imagem div h3{
    font-size: 16px;
}
.natureza-imagem div p{
    color: grey;
    font-size: 14px;
    margin-top: 15px;
}
footer{
    width: 100%;
    background-color: #5d15d1;
    margin-top: 32px;
}
.rodape{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.rodape-conteudo{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.rodape-conteudo h2{
    color: #fff;
    margin-bottom: 15px;
    font-size: 20px;
}
.rodape-conteudo div{
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.rodape-conteudo div img{
    width: 18px;
}
.rodape-conteudo div span{
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 540px){
    .radio, .formulario-campo-duplo{
        flex-direction: column;
    }
    .radio div, .formulario-campo-duplo div{
        width: 100%;
    }
}

@media (max-width: 768px){
    .formulario button{
        width: 100%;
    }
    .ofertas-imagens{
        flex-direction: column;
        height: 100%;
    }
    .oferta-quatro-imagens{
        width: 100%;
    }
    .oferta-quatro-imagens figure, .oferta-imagem-destaque{
        width: 100%;
        height: 225px;
        margin-top: 15px;
    }
    .natureza-duas-imagens{
        display: flex;
        flex-direction: column;
    }
    .natureza-imagem{
        width: 100%;
        margin-top: 15px;
    }
    .rodape{
        flex-direction: column;
        align-items: center;
    }
    .rodape-conteudo{
        width: 250px;
    }
}

@media (max-width: 1100px){
    .limite-largura{
        width: 90%;
    }
}